#--------------------------------------------------------------------
# Example Environment Configuration file
#--------------------------------------------------------------------
# This file can be used as a starting point for your own
# custom .env files, and contains most of the possible settings
# you might want to configure.
#
# If you find that you are using all of these settings, then you
# may want to simply rename this file to .env and remove the
# example prefix and reliance on ENV for anything else. Then,
# uncomment each line in this file to enable required settings.
#
# After that, next steps are:
# 1. Move this file to the root of your project
# 2. Rename it to simply `.env`
# 3. Modify the environment variables as needed for your
#    own environment. Comments will be provided that help
#    you understand what these do.
#
# **IMPORTANT:** If you change database connection values, make sure
# you've updated the values in the DATABASE configuration group in
# app/Config/Database.php as well!
#--------------------------------------------------------------------

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

app.baseURL = 'http://localhost:8080/'
app.forceGlobalSecureRequests = false

app.sessionDriver = 'CodeIgniter\Session\Handlers\FileHandler'
app.sessionCookieName = 'ci_session'
app.sessionExpiration = 7200

# Encryption (only used if you set an encryption key)
app.encryptionKey = 

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = localhost
database.default.database = klinik_db
database.default.username = root
database.default.password = 
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

# Ensure we get the correct host, whether you are running
# under HTTPS or HTTP
database.tests.hostname = localhost
database.tests.database = klinik_test
database.tests.username = root
database.tests.password = 
database.tests.DBDriver = MySQLi
database.tests.DBPrefix = 
database.tests.port = 3306

#--------------------------------------------------------------------
# CONTENT SECURITY POLICY
#--------------------------------------------------------------------

# contentsecuritypolicy.reportOnly = false
# contentsecuritypolicy.upgradeInsecureRequests = false

#--------------------------------------------------------------------
# COOKIE
#--------------------------------------------------------------------

# cookie.prefix = ''
# cookie.expires = 0
# cookie.path = '/'
# cookie.domain = ''
# cookie.secure = false
# cookie.httponly = false
# cookie.samesite = 'Lax'

#--------------------------------------------------------------------
# PROXYIPS
#--------------------------------------------------------------------

# proxyIPs = '10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,2002::/16'

#--------------------------------------------------------------------
# LOGGING
#--------------------------------------------------------------------

# logger.threshold = 4

#--------------------------------------------------------------------
# CURLRequest
#--------------------------------------------------------------------

# curlrequest.shareOptions = true
